*
!.gitignore
!.hushlogin
!.config/
!.config/**
.config/graphite
.config/gh
.config/configstore
.config/gcloud
.config/raycast
.config/yarn
.config/btop/*.log
!.zsh/
!.zsh/**
!.zshrc
!.setup/
!.setup/**
!.daemons/
!.daemons/**
!README.md
