*
!.gitignore
!.hushlogin
!.config/
!.config/**
.config/github-copilot
.config/graphite
.config/gh
.config/configstore
.config/gcloud
.config/raycast
.config/yarn
.config/fish
.config/btop/*.log
.config/posthog-cli
.config/qBittorrent
.config/karabiner
!.zsh/
!.zsh/**
.zsh/external/*.zsh
!.zshrc
!.setup/
!.setup/**
!.daemons/
!.daemons/**
!install.sh
!README.md
