xmodmap ~/.xmodmap-spruce &

kitty &
kitty &
kitty &
postman &
mongodb-compass &

kitty --class=kitty-main &
firefox --new-window &

~/Applications/Bitwarden.AppImage &
thunderbird &
slack &
spotify &

