<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.schinwald.kanata-tray</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>KANATA_TRAY_CONFIG_DIR</key>
      <string>$HOME/.config/kanata-tray</string>
    </dict>
    <key>Program</key>
    <string>/usr/local/bin/kanata-tray</string>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
